@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Roboto, sans-serif;
}

body {
  margin: 0 auto;
}

.hero-container {
  background-color: #1F2937;
}

.hero {
  max-width: 1000px;
  margin: 0 auto;
  padding: 16px 0 48px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.logo {
  font-size: 24px;
  font-weight: 700;
  color: #F9FAF8;
}

.hero-content {
  display: flex;
  gap: 32px;
}

.hero-text-coontainer {
  flex: 1;
}

.hero-image {
  min-width: 500px;
  min-height: 300px;
  
}

.main-heading {
  font-size: 48px;
  color: #F9FAF8;
  font-weight: 900;
  line-height: 1;
  margin-bottom: 16px;
}

.hero-text {
  margin-bottom: 16px;
}

a, 
.hero-text {
  font-size: 18px;
  color: #E5E7EB;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 16px;
}

a {
  text-decoration: none;
}

button {
  background-color: #3882F6;
  color: #F9FAF8;
  font-size: 20px;
  font-weight: 700;
  padding: 8px 16px;
  border-radius: 9px;
  border: none;
}